@page "/applications"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject OmarOgailiSkolan.Data.OmarOgailiSkolanContext DB
@using OmarOgailiSkolan
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

@if (isLoading)
{
    <h3>Loading....</h3>
}
else if(!isLoading)
{
    

<h1>Ansökningar</h1>

    <p>
        <a href=" /applications/Ansökan">ny ansöka</a>

    </p>

    <QuickGrid Class="table" Items="ageStudentFilter" Pagination="studentState">
        <PropertyColumn Property="application => application.Name" Sortable="true" />
        
        <PropertyColumn Property="application => application.Dateofbirth" Format="yyyy/MM/dd" Sortable="true" />
        <PropertyColumn Property="application => application.Email" Sortable="true" />
        <PropertyColumn Property="application => application.Age" Sortable="true" >
            <ColumnOptions>
                <div>
                    <input itemid="ageStudentFilter" type="search" @bind="ageOfTheStudnet" @bind:event="oninput" autofocus />
                </div>
            </ColumnOptions>
        </PropertyColumn>

        <TemplateColumn Context="application">
            <a href="@($"applications/edit?id={application.Id}")">Edit</a> |
            <a href="@($"applications/details?id={application.Id}")">Details</a> |
            <a href="@($"applications/delete?id={application.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="studentState"/>
}


@code {
    private int ageOfTheStudnet;
    PaginationState studentState = new PaginationState { ItemsPerPage = 10 };
    /// <summary>
    /// jag valde att använda @attribute [StreamRendering] för att jag ville att användaren ska kunna
    /// komma fram till sidan innan information har laddat färdig. men problemet är att vi måste använda
    /// @rendermode InteractiveServer flr sort så därför sidan laddar två gånger. 
    /// </summary>
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        isLoading = false;
    }
    /// <summary>
    /// eftersom jag vald och omvalnda åldren och spara den i databasen så när jag ska fixa en ålder filter så jag tänkte göra så där
    /// jag använder IQueryable som de har förklarat i videon men sedan så hämtar jag bara ålder från databasen genom att använda Get
    /// så om åldern är 0 då ska man reutnerar hela Applications tabellen annars så kollar jag vart i tabellen har vi ett ålder som lika med
    /// det ålderna som användaren söker efter
    /// Det som jag behöver kolla på är att ageOfTheStudnet om jag får den och vara töm  by default skulle varit mycket bättre . 
    /// </summary>
    IQueryable<Application> ageStudentFilter
    {
        get
        {
            if (ageOfTheStudnet == 0)
            {
                return DB.Application;
            }
            else
            {
                return DB.Application.Where(a => a.Age == ageOfTheStudnet);
            }
        }
    }
}
